<header>
  <img
    src="../../../../../assets/Erick.png"
    alt="sdasdasdasd"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Erick Dean</h1>
</header>

<aside>
  <div class="container">
    <p>Dev Front-end | Angular | JavaScript| TypeScript|</p>
    <p>Riacho Fundo 1, Brasília, Brasil</p>
    <p>Me contrata vida S2</p>

    <nav>
      <ul>
        <li>
          <a
            href="../../../../../assets/cv.pdf"
            target="_blank"
            class="btn btn-primary"
            >Donwload Currículo</a
          >
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/erick-dean/"
            target="_blank"
            class="btn btn-secondary"
            >LinkedIn</a
          >
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="../../../../../assets/whatsapp.svg"
          alt="Ícone para contato do whatsapp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="linkzipzop" target="_blank">
            <strong>Enviei uma mensagem para:</strong>
            <p>Whatsapp: (61) 9 99186-2232</p>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img
          src="../../../../../assets/mail.svg"
          alt="Ícone para contato do e-amil"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:e.deanmb@gmail.com" target="_blank">
            <strong>Envie um e-mail para:</strong>
            <p>e.deanmb&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
