:root{
  --primary:#8c0EE6;
  --primary-010: #6c3991;

--secondary: #3b3966;
--secondary-020: #160ee6;
--secondary-030: #0e76a8;

--white: #fff;

--yellow:#cce60e;
--green:#35e60e;

--black: #10101a;
--black-010: #2a2a30;

--grey:#9b9ba0;
}
